
<md-card class="main-view">
  <md-card-title>
    Experty.io - Raised Funds
  </md-card-title>

  <img md-card-image src="assets/logo.png" alt="Experty.io"/>

  <md-card-content>
    <p>
      <span *ngIf="loading; else loaded">Loading data…</span>
      <ng-template  #loaded>
        Raised {{raised | currency:'USD':true:'1.2-2'}}
      </ng-template>
    </p>

    <md-progress-bar [mode]="mode" [value]="value"></md-progress-bar>
  </md-card-content>

  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>